*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:Raleway,sans-serif;

}
.brand-logo{
  margin-left: 7%;
}
nav{
  background-color: rgb(4, 4, 46);
}
#map {
  width: 100%;
  height: 90vh;
  opacity: 1;
  position: absolute;
}
.search{
  width: 25%;
  background-color: white;
  position: absolute;
  margin-top: 5%;
  padding: 2%;
  margin-left: -6%;

}
label{
  color: black;
  font-size: 1.5rem;
}

.price-style{
  background-color:rgb(4, 4, 46);
  color: white;
}

li{
  font-size: 1.2rem;
}
span{
  margin-left: 8%;
}

.panel-prices{
  width: 25%;
  background-color: white;
  position: absolute;
  margin-top: 25%;
   margin-left: 8.2%;
}